* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: pink;
}

.container {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100dvw;
}

.typing {
  display: inline-block;
  max-width: 90%;
}

.title {
  word-wrap: break-word;
  letter-spacing: 1px;
  font-size: 20px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  from {
    width: 0%;
  }
}

.image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #000;
  margin: 30px 0px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  margin-top: 10px;
}

.btn {
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  transition: all ease 0.5s;
  cursor: pointer;
  opacity: 0;
  display: block;
}

.btn-yes {
  background: rgb(16, 243, 92);
  color: rgb(255, 255, 255);
}

.btn-yes:hover {
  transform: scale(1.1);
  background-color: rgb(13, 228, 85);
}

.btn-no {
  background: rgb(243, 22, 22);
  color: rgb(255, 255, 255);
  left: 24px;
}

.btn-no:hover {
  transform: scale(1.1);
  background-color: rgb(223, 15, 15);
}

.fadeIn {
  opacity: 1;
}
